@import 'styles/_variables.scss';

.points {
    background-color: $turquoise-lightest;
    position: absolute;
    margin: 0.5%;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 25%;
    max-height: 70vh;
    border-radius: 5px;
    border: 1px solid $turquoise-dark;
    box-shadow: 2px 2px 7px $turquoise-darkest;
    overflow-y: auto;
    z-index: 2;
}