@import 'normalize.css/normalize';
@import 'styles/_icons.css';

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

p, div, ul, li {
    margin: 0;
}

ol, ul, li {
    list-style: none;
    padding: 0;
}

body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.75;
    position: relative;
    overflow-x: hidden;
}
